@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: white;
    font-family: "Inter", sans-serif;
}

nav{
    font-family: "Play-fair Display", serif;
    font-weight: 500;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    border-bottom: 3px solid red;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 16px;
    text-transform: uppercase;
    font-size: 22px;
    display: block;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: white;
    height: 3px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

section,
footer{
    padding: 60px 0;
}

header .container p{
    color: white;
}

header .container{
    background-image: linear-gradient(150.24deg, rgba(124, 124, 124, 0.558) 10%, rgba(37, 37, 37, 0.541) 95%), url('imagens/banner-image.jpg');
    max-width: 100%;
    background-size: cover;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 100px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 90px;
    color: white;
}

.banner .banner-text h3{
    font-size: 50px;
    color: white;
}

.banner .banner-text p{
    font-size: 22px;
    color: rgb(219, 219, 219);
    margin: 14px 0;
}

.introducao .container{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.introducao .introducao-text{
    width: 50%;
    margin: 30px;
    padding: 0 70px;
}

.introducao .introducao-text h3{
    padding-bottom: 10px;
    font-size: 40px;
    color: green;
}

.introducao .introducao-text p{
    font-family: "Play-fair Display", serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5em;;
    color: red;
    text-align: justify;
}

.introducao .introducao-img img{
    width: 626px;
    padding-top: 50px;
    padding-right: 105px;
}